[submodule "packages/api"]
	path = packages/api
	url = git@github.com:luke-rmaki/peer-chat-api.git
[submodule "packages/client"]
	path = packages/client
	url = git@github.com:luke-rmaki/peer-chat-client.git
